<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Masuk</button>
        </form>
        <p>Belum punya akun? <a href="{{ url_for('register') }}">Daftar di sini</a></p>

        {% for message in get_flashed_messages() %}
        <p style="color:red;">{{ message }}</p>
        {% endfor %}
    </div>
</body>
</html>
